@charset 'UTF-8';

.header-link {
  color: $gray-base;

  &:hover {
    color: $gray-base;
  }

  img {
    max-height: 0.8em;
    max-width: 1em;
    float: right;
    margin: 0.1em 0 0 0.2em;
  }
}

.header-logo {
  max-height: 80px;
  max-width: 160px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3.header-title {
  float: right;
  margin: 0 0 0 1em;
  padding: 0.5em 0;
  min-width: 7em; // fix flex issue
  line-height: 1em;

  @media only screen and (max-width: $screen-xs-max) {
    min-width: 4em;
  }
}
