@charset 'UTF-8';

header {
  // padding: 1em 0 0;
}

.header-link {
  color: $gray-base;

  &:hover {
    color: $gray-base;
  }

  img {
    max-height: 0.8em;
    max-width: 1em;
    float: right;
    margin: 0.1em 0 0 0.2em;
  }
}

.header-logo {
  max-height: 80px;
  max-width: 160px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3.header-title {
  margin: 0 0 0 1em;
  padding: 0;
  min-width: 7em;
  line-height: 1em;
}
