@charset 'UTF-8';

.fixed-cta {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white-alpha-80;
  background: linear-gradient(0deg, $white, $white-alpha-0);
}

.fixed-cta-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  .btn {
    margin-left: 0.4em;
    min-width: 7em;
  }

  .fixed-cta-legend {
    text-align: right;
    text-shadow: 0 0 3px $white-alpha-40;
  }
}

body {
  padding-bottom: 4em;
}
