$gray-base:             #1d1d1b;
$brand-primary:         #ffe000;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$gray-darker:            lighten($gray-base, 13.5%) !default;
$gray-dark:              lighten($gray-base, 20%) !default;
$gray:                   lighten($gray-base, 33.5%) !default;
$gray-light:             lighten($gray-base, 46.7%) !default;
$gray-lighter:           #eee !default;
$white:                  #fff;
$white-alpha-80:         rgba(255, 255, 255, 0.8);
$white-alpha-40:         rgba(255, 255, 255, 0.4);
$white-alpha-0:          rgba(255, 255, 255, 0);

$strategie-digital:           #ddd;
$brand-design-management:     #ec6d71;
$marketing-operationnel:      #9dbdbb;
$retail-merchandising:        #8dafb7;
$media-planning:              #0ba2e5;

$btn-primary-color:              $gray-base !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$text-color:            $gray-base !default;

$font-family-sans-serif:  "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:          20px !default;

//** Global textual link color.
$link-color:            $brand-info !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//** Default label background color
$label-default-bg:   $gray-lighter;
//** Default label text color
$label-color:                 $gray-base !default;
//** Default text color of a linked label
$label-link-hover-color:      $gray-base !default;
