@charset 'UTF-8';


.course-tile {
  transition: .3s;
  min-height: 7em;
  padding: 1em;
  padding-right: 30%;
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover {
    box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.4);
  }

  &.theme-strategie-digital { background-image: url('../img/tile-Strategie-Digitale.png'); }
  &.theme-brand-design-management { background-image: url('../img/tile-Brand-Design-Management.png'); }
  &.theme-marketing-operationnel { background-image: url('../img/tile-Marketing-Operationnel.png'); }
  &.theme-retail-merchandising { background-image: url('../img/tile-Retail-Merchandising.png'); }
  &.theme-media-planning { background-image: url('../img/tile-Media-planning.png'); }
}
