@charset 'UTF-8';

.theme-strategie-digital { background-color: $strategie-digital; }
.theme-brand-design-management { background-color: $brand-design-management; }
.theme-marketing-operationnel { background-color: $marketing-operationnel; }
.theme-retail-merchandising { background-color: $retail-merchandising; }
.theme-media-planning { background-color: $media-planning; }
