@charset 'UTF-8';

.theme-strategie-digital { background-color: $strategie-digital; }
.theme-brand-design-management { background-color: $brand-design-management; color: white; }
.theme-marketing-operationnel { background-color: $marketing-operationnel; color: white; }
.theme-retail-merchandising { background-color: $retail-merchandising; color: white; }
.theme-media-planning { background-color: $media-planning; color: white; }
