@charset 'UTF-8';

/**
 * Responsive Typography
 */

* {
  -webkit-font-smoothing: antialiased;
}

.fine-weight {
  font-weight: 100;
}

h1,
.h1 {
  font-size: $font-size-h1;
  line-height: 1.25em;
}

h2,
.h2 {
  font-size: $font-size-h2;
  line-height: 1.25em;
}

h3,
.h3 {
  font-size: $font-size-h3;
  line-height: 1.25em;
}

h4,
.h4 {
  font-size: $font-size-h4;
  line-height: 1.25em;
}

h5,
.h5 {
  font-size: $font-size-h5;
  line-height: 1.25em;
}

h6,
.h6 {
  font-size: $font-size-h6;
  line-height: 1.25em;
}

p,
abbr,
cite,
li,
td,
tr,
.label {
  font-size: $font-size-base;
}

@media only screen and (max-width: $screen-md-max) {
  h1,
  .h1 {
    font-size: ceil($font-size-h1 * 0.8);
    line-height: 1.25em;
  }

  h2,
  .h2 {
    font-size: ceil($font-size-h2 * 0.8);
    line-height: 1.25em;
  }

  h3,
  .h3 {
    font-size: ceil($font-size-h3 * 0.8);
    line-height: 1.25em;
  }

  h4,
  .h4 {
    font-size: ceil($font-size-h4 * 0.8);
    line-height: 1.25em;
  }

  h5,
  .h5 {
    font-size: ceil($font-size-h5 * 0.8);
    line-height: 1.25em;
  }

  h6,
  .h6 {
    font-size: ceil($font-size-h6 * 0.8);
    line-height: 1.25em;
  }

  p,
  abbr,
  cite,
  li,
  td,
  tr,
  .label {
    font-size: ceil($font-size-base * 0.9);
  }
}

@media only screen and (max-width: $screen-sm-max) {
  h1,
  .h1 {
    font-size: ceil($font-size-h1 * 0.75);
    line-height: 1.25em;
  }

  h2,
  .h2 {
    font-size: ceil($font-size-h2 * 0.75);
    line-height: 1.25em;
  }

  h3,
  .h3 {
    font-size: ceil($font-size-h3 * 0.75);
    line-height: 1.25em;
  }

  h4,
  .h4 {
    font-size: ceil($font-size-h4 * 0.75);
    line-height: 1.25em;
  }

  h5,
  .h5 {
    font-size: ceil($font-size-h5 * 0.75);
    line-height: 1.25em;
  }

  h6,
  .h6 {
    font-size: ceil($font-size-h6 * 0.75);
    line-height: 1.25em;
  }

  p,
  abbr,
  cite,
  li,
  td,
  tr,
  .label {
    font-size: ceil($font-size-base * 0.85);
    line-height: $line-height-base * 0.9;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  h1,
  .h1 {
    font-size: ceil($font-size-h1 * 0.7);
  }

  h2,
  .h2 {
    font-size: ceil($font-size-h2 * 0.65);
  }

  h3,
  .h3 {
    font-size: ceil($font-size-h3 * 0.65);
  }

  h4,
  .h4 {
    font-size: ceil($font-size-h4 * 0.65);
  }

  h5,
  .h5 {
    font-size: ceil($font-size-h5 * 0.65);
  }

  h6,
  .h6 {
    font-size: ceil($font-size-h6 * 0.65);
  }

  p,
  abbr,
  cite,
  li,
  td,
  tr,
  .label {
    font-size: ceil($font-size-base * 0.85);
    line-height: 1.3em;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    small,
    .small {
      font-size: 65%;
    }
  }

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    small,
    .small {
      font-size: 75%;
    }
  }
}

.table-label {
  min-width: 30%;

  strong {
    display: inline-block;
    padding-right: 0.6em;
  }
}
